// Specific CSS for your home-page
#herobanner {
  background-image: url("herobanner2.jpg");
  background-size: cover;
  height: 80vh;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-size: cover;
  position: relative;

  a {
    color: black;
  }
}

.flex-buttons {
  display: flex;
  justify-content: center;
}

#home-signup-button {
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: .09375em;
  position: absolute;
  top: 45%;
  left: 10%;
  color: #FFFFFF ;
  background-color: transparent;
  padding: 10px 20px;
  border: 4px solid #FFFFFF ;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 0;
}

#home-signup-button a {
  color: #FFFFFF;
}

#home-signup-button:hover {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  transition: all 0.3s ease 0s;
}

#home-signup-button:hover a {
  color: #000000 !important;
}

#home-login {
  font-weight: 900;
  font-size: 1.50em;
  letter-spacing: .09375em;
  position: absolute;
  top: 45%;
  left: 22%;
  padding-top: 15px;
  color: #FFFFFF ;
  transition: all 0.3s ease 0s;
}

#home-login a {
  color: #FFFFFF;
}

.title {
  font-weight: 900;
  color: #FFFFFF;
}

.main-title {
  letter-spacing: .09375em;
  padding-left: 10%;
  padding-top: 10%;
}

#typed {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
}

.main-title {
  margin-bottom: 40px;
}

#center-position {
  text-align: center;
  margin: 0 auto;
}

#blackbutton-home {
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: .09375em;
  margin-bottom: 32px;
  margin-top: 32px;
  top: 45%;
  left: 10%;
  color: #000000 ;
  background-color: transparent;
  padding: 10px 20px;
  border: 4px solid #000000 ;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

#blackbutton-home:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
}

#blackbutton-home:hover a {
  color: #FFFFFF;
}
