<div id="herobanner">
  <div class="main-title">
    <h1>Connect with Nature with our Tiny Houses</h1>
      <div id="typed-strings">
        <p>Disconnect...</p>
        <p>Meditate...</p>
        <p>Dream...</p>
      </div>
      <span id="typed"></span>
  </div>

  <div class="flex-buttons">
    <p id="home-signup-button"><%= link_to 'Sign Up', new_user_registration_path%></p>
    <p id="home-login"><%= link_to 'Log In', new_user_session_path%></p>
  </div>
</div>

<p id="allbutton"><%= link_to 'All our Tiny Houses', tiny_houses_path%></p>

