.footer-bg {
  background-color: #000000;
  height: 120px;
  width: 100%;
}

.contact img {
  padding-top: 10px;
  height: 40px;
  width: 40px;
}

p {
  color: #FFF;
  margin-bottom: 4px;
}

contact-us {
  display: flex;
}

.insta img {
  height: 30px;
  width: 30px;
}

.facebook img {
  height: 30px;
  width: 30px;
}

.twitter img {
  height: 30px;
  width: 30px;
}

.flex-footer {
  display: flex;
}
