.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

.marker {
  background-image: url('tiny-pin.svg');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}
